/* responsive */

@media (max-width: 1350px){

	/* main */

	.wrapper{width: 90%;}

}

@media (max-width: 1020px){

	/* main */

	.fade{display: block;}
	.fade.open{left: 0;}

	/* section */

	section .filters ul li{margin: 0 5px 10px;}

	section .container.open .list{width: 100%;}
	section .container .list ul li{width: calc(100% / 2);}
	section .container .list ul li:nth-child(3n+1){clear: none;}
	section .container .list ul li:nth-child(2n+1){clear: both;}

	section .container .info{width: 300px;}
	section .container.open .info{right: calc(50% - 150px);}

}

@media (max-width: 600px){

	/* main */



	/* section */

	section .container .list{padding: 10px 0;}
	section .container .list ul li{width: 100%; clear: both;}
	section .container .more{margin: 0 10% 10px; padding 5px 0 10px; font-size: 16px;}

	section .container .info{width: 280px;}
	section .container.open .info{right: calc(50% - 140px);}

}